    body{
      padding: 0px;
      margin: 0px;
      font-size: 18px;
      background: #e2e8ec;
      color: gray;
    }

    .main-content{
      width: 100%;
      display: flex;
      flex-direction: column;
      background-color: transparent;
      padding: 150px  15px; /* Top Right Bottom Left */
    }

    .main-content #inquiries{
        padding: 15px;
        border: 1px solid #111;
        border-radius: 50px;
    }

    .front-logo{
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      text-align: center;
      justify-content: space-between; padding: 55px 0px;
    }

    .front-logo span{
      width: auto;
      display: flex;
      padding: 15px;
      align-items: center;
    }


    /*Poster*/

.poster {
  position: relative;
  width: 100%;
  height: 90%;
  justify-content: center;
  align-items: center; padding: 50px 0px;
}

.image {
  opacity: 1;
  display: block;
  width: 500px;
  height: 600px;
  object-fit: cover;
  object-position: bottom;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.poster:hover .image {
  opacity: 0.3;
}

.poster:hover .middle {
  opacity: 1;
}

.text {
  text-decoration: none;
  background-color: transparent;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

#logo-seprate{
  width: auto; display: flex; flex-direction: row; justify-content: space-around;
}
@media only screen and (max-width: 850px) {
           .front-logo{
            flex-direction: column;
           }
        }

/*About Section */
.front-about-sec{
  width: auto;
  display: flex; padding: 50px 0px; border-top: 1px solid #111; border-bottom: 1px solid #111;
  flex-direction: row; justify-content: space-evenly; align-items: center;
}
.about-content{
  width: auto; display: flex; flex-direction: column; 
}
.about-content span{
  padding: 10px 0px ; display: flex; 
}
figure img{
  width: 450px;
  height: 300px;
  object-fit: cover;
  object-position: bottom;
}
@media only screen and (max-width: 850px) {
           .front-about-sec{
            flex-direction: column;
            align-items: flex-start;
           }

           .about-content{
            padding: 0px 15px;
           }
        }

/*Button*/
/* From Uiverse.io by tomaskriegelstein */ 
button {
  font-size: 18px;
  color: grey;
  font-family: Poppins;
  font-weight: 400;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;

  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
  display: inline-flex;
  align-items: center;
}

button:focus,
button:hover {
  color: #111;
}

button:focus:after,
button:hover:after {
  width: 100%;
  right: auto;
  left: auto; /* Ensure left is auto to override the initial value */
}

button:after {
  content: "";
  pointer-events: none;
  bottom: -7px;
  right: auto; /* Start from the right */
  left: 0; /* Ensure left is auto to override the initial value */
  position: absolute;
  width: 0%;
  height: 1px;
  background-color: #111;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 500ms;
  transition-property: width, right;
}

.svg-icon {
  width: 0.9em;
  height: 0.8em;
  margin-left: 10px;
  fill: grey;
  transform: rotate(-45deg);
  transition: transform 0.5s ease-out;
}

button:hover .svg-icon {
  transform: rotate(0deg);
  fill: #111;
}

